*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $main-text;
  font: {
    family: $primary-font;
    size: 100%;
  }
}

a {
  color: $link;
  font-family: $secondary-font;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: $secondary-font;
  font-weight: bold;
}

.wowhead-spell-link {
  color: $color-5;
}

.wowhead-item-link {
  color: $color-4;
}

ul {
  list-style-type: none;
  padding-left: 20px;

  ul {
    list-style-type: disclosure-closed;
    padding-left: 40px;
  }
}

.hero {
  margin: 100px auto;
  width: 800px;
}

.green {
  color: $color-4;
}
