*,
*::after,
*::before {
  @include box-sizing(border-box);
}

body {
  background-color: $background;
  color: $main-text;
  font: {
    family: $primary-font;
    size: 100%;
  }
}

a {
  color: $link;
  font-family: $secondary-font;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: $secondary-font;
  font-weight: bold;
}

.type-font-color {
  color: $color-1;

  &.starlight-rose {
    color: $starlight-rose;
  }

  &.foxflower {
    color: $foxflower;
  }

  &.mix {
    color: $color-3;
    background: $mix;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.wowhead-spell-link {
  color: $color-5;
}
