$datetime-header-background: $color-2;
$datetime-header-color: #fff;
$datetime-header-height: 15px;
$datetime-section-background: #fff;
$datetime-section-color: $main-text;
$datetime-section-height: 45px;

$datetime-border-radius: 8px;
$datetime-figure-width:  77px;

.datetime {
  background-color: $datetime-section-background;
  border-radius: $datetime-border-radius;
  height: #{ $datetime-header-height + $datetime-header-height + $datetime-section-height + 3px };
  text-align: center;
  width: $datetime-figure-width;

  header {
    background-color: $datetime-header-background;
    border-radius: $datetime-border-radius $datetime-border-radius 0 0;
    color: $datetime-header-color;
    font: .8em Arial, Helvetica, Geneva, sans-serif;
    height: $datetime-header-height;
    letter-spacing: .5px;
    position: absolute;
    top: -1px;
    width: $datetime-figure-width;
  }

  footer {
    background-color: $datetime-header-background;
    border-radius: 0 0 $datetime-border-radius $datetime-border-radius;
    box-shadow: 0 3px 0 darken($background, 5%);
    color: $datetime-header-color;
    font: .8em Arial, Helvetica, Geneva, sans-serif;
    height: $datetime-header-height;
    letter-spacing: .5px;
    position: absolute;
    top: #{ $datetime-header-height + $datetime-section-height + 1 };
    width: $datetime-figure-width;
  }

  section {
    color: $datetime-section-color;
    font: $datetime-section-height / 1.2 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
    height: $datetime-section-height;
    letter-spacing: -2px;
    position: absolute;
    top: #{ $datetime-header-height + 1px };
    width: $datetime-figure-width;
  }
}
