.container {
  margin: {
    bottom: 2em;
    left: auto;
    right: auto;
    top: 2em;
  }
  max-width: $large;
  padding: 2em 0;
  position: relative;
  width: 90%;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &::before {
    // vertical line
    background: darken($background, 5%);
    content: '';
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: -2;
  }

  @include media-query(L) {
    margin: {
      bottom: 3em;
      top: 3em;
    }

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.timeline-block {
  @include clearfix;
  margin: 2em 0;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include media-query(L) {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.timeline-img {
  border-radius: 50%;
  box-shadow: 0 0 0 4px $color-3, inset 0 2px 0 rgba(#000, .08),
  0 3px 0 4px rgba(#000, .05);
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;

  &.starlight-rose {
    background: url('../static/images/starlight-rose.png');

  }

  &.foxflower {
    background: url('../static/images/foxflower.png');
  }

  &.mix {
    backtround-color: #000;
    background-position: 40% 50%;
    background-image: url('../static/images/mix.png');
  }

  .size {
    color: $color-3;
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);
  }


  @include media-query(L) {
    height: 60px;
    left: 50%;
    margin-left: -30px;
    width: 60px;

    .size {
      line-height: 60px;
      font-size: 30px;
    }
  }
}

.timeline-content {
  @include border-radius;
  @include clearfix;
  background: $monkai-color;
  box-shadow: 0 3px 0 darken($background, 5%);
  margin-left: 60px;
  padding: 1em;
  position: relative;

  p,
  .read-more {
    @include font-size(13px);
  }

  .read-more {
    display: inline-block;
  }

  p {

    line-height: 1.6;
    margin: 1em 0;
  }

  .read-more {
    @include border-radius;
    background: $link;
    color: $color-3;
    float: right;
    padding: 0.8em 1em;



    .no-touch &:hover {
      background-color: lighten($link, 5%);
    }
  }

  .datetime {
    box-shadow: 0 3px 0 darken($background, 5%);
    left: -110px;
    position: absolute;
    top: 40px;
    font-size: 8.8px;
    width: 55px;
  }

  &::before {
    border: 7px solid transparent;
    border-right: 7px solid $color-3;
    content: '';
    height: 0;
    position: absolute;
    right: 100%;
    top: 16px;
    width: 0;
  }

  @include media-query(M) {
    h2 {
      @include font-size(20px);
    }

    .datetime {
      font-size: 9px;
      left: -110px;
      position: absolute;
      top: 40px;
      width: 58px;
    }


    p {
      @include font-size(16px);
    }

    .read-more {
      @include font-size(14px);
    }
  }

  @include media-query(L) {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    pre {
      white-space: pre-wrap;
    }

    &::before {
      border-color: transparent;
      border-left-color: $monkai-color;
      left: 100%;
      top: 24px;
    }

    .read-more {
      float: left;
    }

    .datetime {
      left: 115%;
      position: absolute;
      top: -15px;
      width: 64px;
    }

    .timeline-block:nth-child(even) & {
      float: right;

      &::before {
        border-color: transparent;
        border-right-color: $monkai-color;
        left: auto;
        right: 100%;
        top: 24px;
      }

      .read-more {
        float: right;
      }

      .datetime {
        left: auto;
        right: 115%;
      }
    }
  }
}
