@import 'variables';

@mixin type-font-color {
  color: $color-1;

  &.starlight-rose {
    color: $starlight-rose;
  }

  &.foxflower {
    color: $foxflower;
  }

  &.mix {
    color: $color-3;
    background: $mix;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


@function calculate-rem($size) {
  $rem-size: $size / 16px;
  @return $rem-size * 1rem;
}

@mixin font-size($size) {
  font-size: calculate-rem($size);
}

// mixins - border radius

@mixin border-radius($radius: .25em) {
  border-radius: $radius;
}


// layout - media queries

@mixin media-query($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $small) {
      @content;
    }
  } @else if $canvas == M {
    @media only screen and (min-width: $medium) {
      @content;
    }
  } @else if $canvas == L {
    @media only screen and (min-width: $large) {
      @content;
    }
  }
}
