
// variables - colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #fff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// variables - fonts

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

$starlight-rose: rgb(56, 235, 253);
$foxflower: rgb(212, 110, 42);
$mix-color1: #75ce66;
$mix-color2: #FF5757;
$mix-color3: #995DE8;
$mix-color4: #52BFFF;
$mix-color5: #40E0D0;
$mix-color5: #97FF7F;

$mix: linear-gradient(70deg, $mix-color1, $mix-color2, $mix-color3, $mix-color3, $mix-color4, $mix-color5);


// layout - breakpoints

$small: 320px;
$medium: 768px;
$large: 1170px;
