// .eslintrc

{
  "extends": "airbnb",
  "env": {
    "browser": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": [ "error", {
      "component": ["Link"],
      "aspects": ["noHref"]
    }],
    "react/forbid-prop-types": "off",
  }
}
